<p>category works!</p>
<div class="row p-3">
    <div class="col-2 bg-secondary">
        <h5>Templates Categories</h5>
        <div>
            <p class="col-12 p-2 catbtn">All</p>
            <p class="col-12 p-2 catbtn">Attorney Id Cards</p>
            <p class="col-12 p-2 catbtn">Church Badges</p>
            <p class="col-12 p-2 catbtn">Doctor</p>
            <p class="col-12 p-2 catbtn">Employees Badges</p>
            <p class="col-12 p-2 catbtn">Firefighter ID Cards</p>
            <p class="col-12 p-2 catbtn">Press Pass</p>
            <p class="col-12 p-2 catbtn">School ID Cards</p>
            <p class="col-12 p-2 catbtn">Service Dogs ID Cards</p>
        </div>
    </div>
    <div class="col-10">
        <app-template-list></app-template-list>
    </div>

</div>