.catbtn {
  background-color: transparent;
  /* Default background */
  color: white;
  /* Text color */
  transition: all 0.3s ease-in-out;
  /* Smooth transition */
  border-radius: 5px;
  /* Rounded corners */
}

.catbtn:hover {
  background-color: rgba(255, 255, 255, 0.2);
  /* Light hover effect */
  color: #f8f9fa;
  /* Slightly lighter text */
  cursor: pointer;
}

.catbtn:focus {
  outline: 2px solid #f8f9fa;
  /* White outline for focus */
  background-color: rgba(255, 255, 255, 0.3);
}

.cards-content{
  display: flex;
  justify-content: space-between;
}

.sidebar-fixed{
  position: fixed;
  left: 0;
  top: 0;
}
  