<div class="container">
  <div class="row justify-content-center">
    <!-- ID Card Display -->
    <div class="col-lg-6 col-md-8 col-sm-12">
      <div class="cardbox m-2">
        <!-- Front of ID Card -->
        <div
          class="id-body p-3 m-3"
          *ngIf="currentView === 'front'"
          [ngStyle]="{
            'background-color': bgColor || '#ffffff',
            'border-radius.px': borderRadius,
            'border-size.px': borderSize,
            'border-style': borderStyle,
            'border-color': borderColor
          }"
        >
          <div class="text-center">
            <h3
              (click)="editField('schoolName')"
              cdkDrag
              (cdkDragEnded)="onDragEnd($event, 'schoolName')"
              [ngStyle]="
                selectedField === 'schoolName'
                  ? {
                      'font-size.px': fontSize,
                      color: fontColor,
                      'text-align': textAlign
                    }
                  : {}
              "
            >
              {{ templateData.schoolName | uppercase }}
            </h3>
            <hr />
            <p
              (click)="editField('schoolAddress')"
              cdkDrag
              (cdkDragEnded)="onDragEnd($event, 'schoolAddress')"
              [ngStyle]="
                selectedField === 'schoolAddress'
                  ? {
                      'font-size.px': fontSize,
                      color: fontColor,
                      'text-align': textAlign
                    }
                  : {}
              "
            >
              {{ templateData.schoolAddress | uppercase }}
            </p>
          </div>

          <div class="id-mid-sect align-items-center">
            <div class="text-center">
              <h5
                (click)="editField('grade')"
                cdkDrag
                (cdkDragEnded)="onDragEnd($event, 'grade')"
                [ngStyle]="
                  selectedField === 'grade'
                    ? {
                        'font-size.px': fontSize,
                        color: fontColor,
                        'text-align': textAlign
                      }
                    : {}
                "
                class="my-2 mb-3"
              >
                {{ templateData.grade | uppercase }}
              </h5>
            </div>
            <div>
              <img
                (click)="editField('studentPhoto')"
                [src]="templateData.studentPhoto"
                cdkDrag
                (cdkDragEnded)="onDragEnd($event, 'studentPhoto')"
                alt="passport"
                class="rounded img-fluid"
                [ngStyle]="{ 'border-radius.px': borderRadius }"
                style="max-height: 200px; width: 140px; object-fit: cover"
              />
            </div>
            <div class="text-center">
              <p
                (click)="editField('studentYear')"
                cdkDrag
                (cdkDragEnded)="onDragEnd($event, 'studentYear')"
                [ngStyle]="
                  selectedField === 'studentYear'
                    ? {
                        'font-size.px': fontSize,
                        color: fontColor,
                        'text-align': textAlign
                      }
                    : {}
                "
              >
                {{ templateData.studentYear }}
              </p>
              <img
                (click)="editField('schoolLogo')"
                cdkDrag
                (cdkDragEnded)="onDragEnd($event, 'schoolLogo')"
                [src]="templateData.schoolLogo"
                alt="school logo"
                class="img-fluid"
                [ngStyle]="{ 'border-radius.px': borderRadius }"
                style="max-width: 80px"
              />
            </div>
          </div>

          <div class="text-center mt-3 card-front-foot">
            <h2
              (click)="editField('studentName')"
              cdkDrag
              (cdkDragEnded)="onDragEnd($event, 'studentName')"
              [ngStyle]="
                selectedField === 'studentName'
                  ? {
                      'font-size.px': fontSize,
                      color: fontColor,
                      'text-align': textAlign
                    }
                  : {}
              "
            >
              {{ templateData.studentName | uppercase }}
            </h2>
          </div>
        </div>

        <!-- Back of ID Card -->
        <div
          class="id-body p-3 m-3"
          *ngIf="currentView === 'back'"
          [ngStyle]="{
            'background-color': bgColor || '#ffffff',
            'border-radius.px': borderRadius
          }"
        >
          <div class="card-back-top"></div>

          <div class="card-mid-back text-center mt-3 align-items-center">
            <qrcode
              cdkDrag
              (cdkDragEnded)="onDragEnd($event, templateData.studentName)"
              [qrdata]="templateData.studentName"
              [width]="120"
              [errorCorrectionLevel]="'M'"
            ></qrcode>
          </div>

          <p
            (click)="editField('returnMessage')"
            cdkDrag
            (cdkDragEnded)="onDragEnd($event, 'returnMessage')"
            [ngStyle]="
              selectedField === 'returnMessage'
                ? {
                    'font-size.px': fontSize,
                    color: fontColor,
                    'text-align': textAlign
                  }
                : {}
            "
            class="m-2 text-center"
          >
            {{
              templateData.returnMessage ||
                "If found, return to school authorities."
            }}
          </p>

          <div class="card-back-foot mt-3 align-items-center">
            <p class="text-muted">Authorized Signature</p>
            <img
              (click)="editField('signature')"
              cdkDrag
              (cdkDragEnded)="onDragEnd($event, 'signature')"
              [src]="templateData.signature"
              alt="signature"
              class="img-fluid"
              style="max-height: 50px"
            />
          </div>
        </div>

        <!-- View Toggle Buttons -->
        <div class="row">
          <div class="col-12 text-center mb-3">
            <div class="btn-group">
              <button
                type="button"
                (click)="changeView('front')"
                class="btn"
                [ngClass]="
                  currentView === 'front' ? 'btn-success' : 'btn-secondary'
                "
              >
                Front View
              </button>
              <button
                type="button"
                (click)="changeView('back')"
                class="btn"
                [ngClass]="
                  currentView === 'back' ? 'btn-success' : 'btn-secondary'
                "
              >
                Back View
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Editing Section -->
    <div class="col-lg-4 col-md-8 col-sm-12" *ngIf="editMode">
      <div class="edit-panel p-3">
        <h4>Edit Text & Style</h4>

        <!-- Field Input -->
        <div *ngIf="selectedField">
          <label>{{ selectedField }}</label>
          <input
            *ngIf="!isImageField(selectedField)"
            type="text"
            [(ngModel)]="templateData[selectedField]"
            class="form-control"
          />
          <input
            *ngIf="isImageField(selectedField)"
            type="file"
            (change)="onFileChange($event)"
            class="form-control"
          />
        </div>

        <hr />

        <!-- Styling Options -->
        <label>Font Size:</label>
        <input
          type="range"
          min="10"
          max="30"
          [(ngModel)]="fontSize"
          class="form-range"
        />

        <label>Border Radius:</label>
        <input
          type="range"
          min="1"
          max="100"
          [(ngModel)]="borderRadius"
          class="form-range"
        />

        <label>Font Color:</label>
        <input
          type="color"
          [(ngModel)]="fontColor"
          class="form-control form-control-color"
        />

        <label>Background Color:</label>
        <input
          type="color"
          [(ngModel)]="bgColor"
          class="form-control form-control-color"
        />

        <label>Text Alignment:</label>
        <select [(ngModel)]="textAlign" class="form-control">
          <option value="left">Left</option>
          <option value="center">Center</option>
          <option value="right">Right</option>
        </select>

        <button class="btn btn-primary mt-3" (click)="saveChanges()">
          Save Changes
        </button>
      </div>
    </div>
  </div>
</div>
