<div class="row id-card">
  <div class="col">
    <div class="row">
      <!-- card top section -->
      <div class="col text-center p-3 top-card">
        <h2>{{ schoolName }}</h2>
        <hr />
        <p>
          <strong>{{ schoolAddress }}</strong>
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <!-- card mid section -->
        <div class="row align-items-center d-flex justify-content-around px-3">
          <!-- grade and barcode -->
          <div class="col-3 text-center">
            <h6>{{ grade }}</h6>
            <div>
              <qrcode
                [qrdata]="studentName"
                [width]="80"
                [errorCorrectionLevel]="'M'"
              ></qrcode>
            </div>
          </div>

          <!-- card logo -->
          <div class="col-3" >
            <img src="assets/school-logo.jpg" alt="school logo" class="img-fluid" style="max-width: 70px">
          </div>

          <!-- students year and image -->
          <div class="col-3">
            <p>{{studentYear}}</p>
            <img src="assets/closeup-young-female-professional-making-eye-contact-against-colored-background.jpg" alt="" class="img-fluid" style="max-width: 100px; max-height: 120px">
          </div>
        </div>
      </div>
    </div>
    <div class="row text-center">
      <h3>{{studentName}}</h3>
    </div>
  </div>
</div>
