<div class="card mx-auto p-3" style="width: 100%; max-width: 500px;">
  <!-- front side -->
  <div class="container p-3">
    <div class="hospback">
      <div class="row g-2 align-items-center">
        <div class="col-12 col-md-7">
          <div class="row">
            <div class="col-2">
              <!-- logo -->
              <img [src]="logo" alt="logo" class="img-fluid" style="max-width: 40px;" />
            </div>
            <!-- company name -->
            <div class="col-10" id="compname">
              <h5 class="p-2">{{ companyName }}</h5>
            </div>

            <div class="col-12">
              <div>
                <h4 class="text-truncate">{{ name }}</h4>
                <p class="text-muted">{{ role }}</p>
              </div>
              <p><b>ID: <span>{{ idNumber }}</span></b></p>
            </div>
          </div>
        </div>

        <div class="col-12 col-md-5 text-center">
          <!-- image section -->
          <img [src]="passport" alt="passport" class="img-fluid" style="max-height: 140px;" />
        </div>
      </div>

      <div class="row foot mt-2">
        <div class="col-8">
          <!-- job department -->
          <h4 class="text-truncate">{{ department }}</h4>
        </div>
        <div class="col-4 text-end">
          <!-- barcode -->
          <qrcode [qrdata]="name" [width]="40" [errorCorrectionLevel]="'M'"></qrcode>
        </div>
      </div>
    </div>
  </div>
</div>
